In [1]:
#데이터 추가하는 파이썬
import pandas as pd
import datetime
import csv
import numpy as np
import matplotlib.image
import matplotlib.pyplot as plt
import gmaps
import gmaps.datasets

In [4]:
step = pd.read_csv('./step.csv')
step

          date  total_steps
0   2017-03-26         4338
1   2017-03-27         7789
2   2017-03-28          397
3   2017-03-29        10066
4   2017-03-30         6594
5   2017-03-31         2744
6   2017-04-01        13079
7   2017-04-02        17851
8   2017-04-03         9386
9   2017-04-04         9161
10  2017-04-05         8774
11  2017-04-06         3881
12  2017-04-07            0
13  2017-04-08         6883
14  2017-04-09         3378
15  2017-04-10         8466
16  2017-04-11         7516
17  2017-04-12         5349
18  2017-04-13         4792
19  2017-04-14          212
20  2017-04-15         6643
21  2017-04-16          545
22  2017-04-17            0
23  2017-04-18         3415
24  2017-04-19        10126
25  2017-04-20            0
26  2017-04-21            0
27  2017-04-22            0
28  2017-04-23          492
29  2017-04-24            0
30  2017-04-25            0
31  2017-04-26         7723

In [5]:
step['weekday'] = pd.DatetimeIndex(step['date']).weekday
step['weekday_name'] = pd.DatetimeIndex(step['date']).weekday_name
step['year'] = pd.DatetimeIndex(step['date']).year
step['month'] = pd.DatetimeIndex(step['date']).month
step['day'] = pd.DatetimeIndex(step['date']).day
step['hour'] = pd.DatetimeIndex(step['date']).hour
step['week'] = pd.DatetimeIndex(step['date']).week
step

,date,total_steps,weekday,weekday_name,year,month,day,hour,week
0,2017-03-26,4338,6,Sunday,2017,3,26,0,12
1,2017-03-27,7789,0,Monday,2017,3,27,0,13
2,2017-03-28,397,1,Tuesday,2017,3,28,0,13
3,2017-03-29,10066,2,Wednesday,2017,3,29,0,13
4,2017-03-30,6594,3,Thursday,2017,3,30,0,13
5,2017-03-31,2744,4,Friday,2017,3,31,0,13
6,2017-04-01,13079,5,Saturday,2017,4,1,0,13
7,2017-04-02,17851,6,Sunday,2017,4,2,0,13
8,2017-04-03,9386,0,Monday,2017,4,3,0,14
9,2017-04-04,9161,1,Tuesday,2017,4,4,0,14
10,2017-04-05,8774,2,Wednesday,2017,4,5,0,14
11,2017-04-06,3881,3,Thursday,2017,4,6,0,14
12,2017-04-07,0,4,Friday,2017,4,7,0,14
13,2017-04-08,6883,5,Saturday,2017,4,8,0,14
14,2017-04-09,3378,6,Sunday,2017,4,9,0,14
15,2017-04-10,8466,0,Monday,2017,4,10,0,15
16,2017-04-11,7516,1,Tuesday,2017,4,11,0,15
17,2017-04-12,5349,2,Wednesday,2017,4,12,0,15
18,2017-04-13,4792,3,Thursday,2017,4,13,0,15
19,2017-04-14,212,4,Friday,2017,4,14,0,15
20,2017-04-15,6643,5,Saturday,2017,4,15,0,15
21,2017-04-16,545,6,Sunday,2017,4,16,0,15
22,2017-04-17,0,0,Monday,2017,4,17,0,16
23,2017-04-18,3415,1,Tuesday,2017,4,18,0,16
24,2017-04-19,10126,2,Wednesday,2017,4,19,0,16
25,2017-04-20,0,3,Thursday,2017,4,20,0,16
26,2017-04-21,0,4,Friday,2017,4,21,0,16
27,2017-04-22,0,5,Saturday,2017,4,22,0,16
28,2017-04-23,492,6,Sunday,2017,4,23,0,16
29,2017-04-24,0,0,Monday,2017,4,24,0,17
30,2017-04-25,0,1,Tuesday,2017,4,25,0,17
31,2017-04-26,7723,2,Wednesday,2017,4,26,0,17

In [6]:
df = pd.DataFrame(step)
filename = 'result_step.csv'
df.to_csv(filename, index=False, encoding='utf-8')

In [3]:
steps = pd.read_csv('./step_15mins.csv')
steps

                    date  steps
0    2017-03-26 00:00:00      0
1    2017-03-26 00:15:00      0
2    2017-03-26 00:30:00      0
3    2017-03-26 00:45:00      0
4    2017-03-26 01:00:00      0
5    2017-03-26 01:15:00      0
6    2017-03-26 01:30:00      0
7    2017-03-26 01:45:00      0
8    2017-03-26 02:00:00      0
9    2017-03-26 02:15:00      0
10   2017-03-26 02:30:00      0
11   2017-03-26 02:45:00      0
12   2017-03-26 03:00:00      0
13   2017-03-26 03:15:00      0
14   2017-03-26 03:30:00      0
15   2017-03-26 03:45:00      0
16   2017-03-26 04:00:00      0
17   2017-03-26 04:15:00      0
18   2017-03-26 04:30:00      0
19   2017-03-26 04:45:00      0
20   2017-03-26 05:00:00      0
21   2017-03-26 05:15:00      0
22   2017-03-26 05:30:00      0
23   2017-03-26 05:45:00      0
24   2017-03-26 06:00:00      0
25   2017-03-26 06:15:00      0
26   2017-03-26 06:30:00      0
27   2017-03-26 06:45:00      0
28   2017-03-26 07:00:00      0
29   2017-03-26 07:15:00      0
..                   ...    ...
642  2017-04-01 16:30:00    807
643  2017-04-01 16:45:00    224
644  2017-04-01 17:00:00    740
645  2017-04-01 17:15:00    956
646  2017-04-01 17:30:00     43
647  2017-04-01 17:45:00      4
648  2017-04-01 18:00:00     13
649  2017-04-01 18:15:00     38
650  2017-04-01 18:30:00    574
651  2017-04-01 18:45:00    226
652  2017-04-01 19:00:00     22
653  2017-04-01 19:15:00      0
654  2017-04-01 19:30:00      0
655  2017-04-01 19:45:00      0
656  2017-04-01 20:00:00      0
657  2017-04-01 20:15:00      0
658  2017-04-01 20:30:00      0
659  2017-04-01 20:45:00      0
660  2017-04-01 21:00:00      0
661  2017-04-01 21:15:00      0
662  2017-04-01 21:30:00      0
663  2017-04-01 21:45:00      0
664  2017-04-01 22:00:00    465
665  2017-04-01 22:15:00    310
666  2017-04-01 22:30:00      0
667  2017-04-01 22:45:00    308
668  2017-04-01 23:00:00    656
669  2017-04-01 23:15:00      0
670  2017-04-01 23:30:00      0
671  2017-04-01 23:45:00      0

[672 rows x 2 columns]

In [10]:
steps['weekday'] = pd.DatetimeIndex(steps['date']).weekday
steps['weekday_name'] = pd.DatetimeIndex(steps['date']).weekday_name
steps['year'] = pd.DatetimeIndex(steps['date']).year
steps['month'] = pd.DatetimeIndex(steps['date']).month
steps['day'] = pd.DatetimeIndex(steps['date']).day
steps['hour'] = pd.DatetimeIndex(steps['date']).hour
steps['week'] = pd.DatetimeIndex(steps['date']).week
steps['minute'] = pd.DatetimeIndex(steps['date']).minute
steps['HM'] = steps['hour']*60 + steps['minute']

,date,steps,weekday,weekday_name,year,month,day,hour,week,minute,HM
0,2017-03-26 00:00:00,0,6,Sunday,2017,3,26,0,12,0,0
1,2017-03-26 00:15:00,0,6,Sunday,2017,3,26,0,12,15,15
2,2017-03-26 00:30:00,0,6,Sunday,2017,3,26,0,12,30,30
3,2017-03-26 00:45:00,0,6,Sunday,2017,3,26,0,12,45,45
4,2017-03-26 01:00:00,0,6,Sunday,2017,3,26,1,12,0,60
5,2017-03-26 01:15:00,0,6,Sunday,2017,3,26,1,12,15,75
6,2017-03-26 01:30:00,0,6,Sunday,2017,3,26,1,12,30,90
7,2017-03-26 01:45:00,0,6,Sunday,2017,3,26,1,12,45,105
8,2017-03-26 02:00:00,0,6,Sunday,2017,3,26,2,12,0,120
9,2017-03-26 02:15:00,0,6,Sunday,2017,3,26,2,12,15,135
10,2017-03-26 02:30:00,0,6,Sunday,2017,3,26,2,12,30,150
11,2017-03-26 02:45:00,0,6,Sunday,2017,3,26,2,12,45,165
12,2017-03-26 03:00:00,0,6,Sunday,2017,3,26,3,12,0,180
13,2017-03-26 03:15:00,0,6,Sunday,2017,3,26,3,12,15,195
14,2017-03-26 03:30:00,0,6,Sunday,2017,3,26,3,12,30,210
15,2017-03-26 03:45:00,0,6,Sunday,2017,3,26,3,12,45,225
16,2017-03-26 04:00:00,0,6,Sunday,2017,3,26,4,12,0,240
17,2017-03-26 04:15:00,0,6,Sunday,2017,3,26,4,12,15,255
18,2017-03-26 04:30:00,0,6,Sunday,2017,3,26,4,12,30,270
19,2017-03-26 04:45:00,0,6,Sunday,2017,3,26,4,12,45,285
20,2017-03-26 05:00:00,0,6,Sunday,2017,3,26,5,12,0,300
21,2017-03-26 05:15:00,0,6,Sunday,2017,3,26,5,12,15,315
22,2017-03-26 05:30:00,0,6,Sunday,2017,3,26,5,12,30,330
23,2017-03-26 05:45:00,0,6,Sunday,2017,3,26,5,12,45,345
24,2017-03-26 06:00:00,0,6,Sunday,2017,3,26,6,12,0,360
25,2017-03-26 06:15:00,0,6,Sunday,2017,3,26,6,12,15,375
26,2017-03-26 06:30:00,0,6,Sunday,2017,3,26,6,12,30,390
27,2017-03-26 06:45:00,0,6,Sunday,2017,3,26,6,12,45,405
28,2017-03-26 07:00:00,0,6,Sunday,2017,3,26,7,12,0,420
29,2017-03-26 07:15:00,0,6,Sunday,2017,3,26,7,12,15,435
...,...,...,...,...,...,...,...,...,...,...,...
642,2017-04-01 16:30:00,807,5,Saturday,2017,4,1,16,13,30,990
643,2017-04-01 16:45:00,224,5,Saturday,2017,4,1,16,13,45,1005
644,2017-04-01 17:00:00,740,5,Saturday,2017,4,1,17,13,0,1020
645,2017-04-01 17:15:00,956,5,Saturday,2017,4,1,17,13,15,1035
646,2017-04-01 17:30:00,43,5,Saturday,2017,4,1,17,13,30,1050
647,2017-04-01 17:45:00,4,5,Saturday,2017,4,1,17,13,45,1065
648,2017-04-01 18:00:00,13,5,Saturday,2017,4,1,18,13,0,1080
649,2017-04-01 18:15:00,38,5,Saturday,2017,4,1,18,13,15,1095
650,2017-04-01 18:30:00,574,5,Saturday,2017,4,1,18,13,30,1110
651,2017-04-01 18:45:00,226,5,Saturday,2017,4,1,18,13,45,1125
652,2017-04-01 19:00:00,22,5,Saturday,2017,4,1,19,13,0,1140
653,2017-04-01 19:15:00,0,5,Saturday,2017,4,1,19,13,15,1155
654,2017-04-01 19:30:00,0,5,Saturday,2017,4,1,19,13,30,1170
655,2017-04-01 19:45:00,0,5,Saturday,2017,4,1,19,13,45,1185
656,2017-04-01 20:00:00,0,5,Saturday,2017,4,1,20,13,0,1200
657,2017-04-01 20:15:00,0,5,Saturday,2017,4,1,20,13,15,1215
658,2017-04-01 20:30:00,0,5,Saturday,2017,4,1,20,13,30,1230
659,2017-04-01 20:45:00,0,5,Saturday,2017,4,1,20,13,45,1245
660,2017-04-01 21:00:00,0,5,Saturday,2017,4,1,21,13,0,1260
661,2017-04-01 21:15:00,0,5,Saturday,2017,4,1,21,13,15,1275
662,2017-04-01 21:30:00,0,5,Saturday,2017,4,1,21,13,30,1290
663,2017-04-01 21:45:00,0,5,Saturday,2017,4,1,21,13,45,1305
664,2017-04-01 22:00:00,465,5,Saturday,2017,4,1,22,13,0,1320
665,2017-04-01 22:15:00,310,5,Saturday,2017,4,1,22,13,15,1335
666,2017-04-01 22:30:00,0,5,Saturday,2017,4,1,22,13,30,1350
667,2017-04-01 22:45:00,308,5,Saturday,2017,4,1,22,13,45,1365
668,2017-04-01 23:00:00,656,5,Saturday,2017,4,1,23,13,0,1380
669,2017-04-01 23:15:00,0,5,Saturday,2017,4,1,23,13,15,1395
670,2017-04-01 23:30:00,0,5,Saturday,2017,4,1,23,13,30,1410
671,2017-04-01 23:45:00,0,5,Saturday,2017,4,1,23,13,45,1425

In [11]:
df = pd.DataFrame(steps)
filename = 'result_step_15min.csv'
df.to_csv(filename, index=False, encoding='utf-8')

In [15]:
sleep = pd.read_csv('./sleep.csv')
sleep['weekday'] = pd.DatetimeIndex(sleep['date']).weekday
sleep['weekday_name'] = pd.DatetimeIndex(sleep['date']).weekday_name
sleep['year'] = pd.DatetimeIndex(sleep['date']).year
sleep['month'] = pd.DatetimeIndex(sleep['date']).month
sleep['day'] = pd.DatetimeIndex(sleep['date']).day
sleep['hour'] = pd.DatetimeIndex(sleep['date']).hour
sleep['week'] = pd.DatetimeIndex(sleep['date']).week
sleep

          date  sleep  weekday weekday_name  year  month  day  hour  week
0   2017-03-26      0        6       Sunday  2017      3   26     0    12
1   2017-03-27    560        0       Monday  2017      3   27     0    13
2   2017-03-28    430        1      Tuesday  2017      3   28     0    13
3   2017-03-29    641        2    Wednesday  2017      3   29     0    13
4   2017-03-30    402        3     Thursday  2017      3   30     0    13
5   2017-03-31    579        4       Friday  2017      3   31     0    13
6   2017-04-01    410        5     Saturday  2017      4    1     0    13
7   2017-04-02      0        6       Sunday  2017      4    2     0    13
8   2017-04-03    524        0       Monday  2017      4    3     0    14
9   2017-04-04      0        1      Tuesday  2017      4    4     0    14
10  2017-04-05    570        2    Wednesday  2017      4    5     0    14
11  2017-04-06    469        3     Thursday  2017      4    6     0    14
12  2017-04-07    700        4       Friday  2017      4    7     0    14
13  2017-04-08    690        5     Saturday  2017      4    8     0    14
14  2017-04-09      0        6       Sunday  2017      4    9     0    14
15  2017-04-10    497        0       Monday  2017      4   10     0    15
16  2017-04-11      0        1      Tuesday  2017      4   11     0    15
17  2017-04-12      0        2    Wednesday  2017      4   12     0    15
18  2017-04-13      0        3     Thursday  2017      4   13     0    15
19  2017-04-14    612        4       Friday  2017      4   14     0    15
20  2017-04-15    209        5     Saturday  2017      4   15     0    15
21  2017-04-16      0        6       Sunday  2017      4   16     0    15
22  2017-04-17    479        0       Monday  2017      4   17     0    16
23  2017-04-18    489        1      Tuesday  2017      4   18     0    16
24  2017-04-19    503        2    Wednesday  2017      4   19     0    16
25  2017-04-20    198        3     Thursday  2017      4   20     0    16
26  2017-04-21      0        4       Friday  2017      4   21     0    16
27  2017-04-22    593        5     Saturday  2017      4   22     0    16
28  2017-04-23    209        6       Sunday  2017      4   23     0    16
29  2017-04-24    482        0       Monday  2017      4   24     0    17
30  2017-04-25      0        1      Tuesday  2017      4   25     0    17
31  2017-04-26    673        2    Wednesday  2017      4   26     0    17

In [16]:
df = pd.DataFrame(sleep)
filename = 'result_sleep.csv'
df.to_csv(filename, index=False, encoding='utf-8')